* {
  margin: 0;
}

body {
  font-size: 18px;
}
h1 {
  font-size: 30px;
  margin: 20px;
}
h2 {
  margin: 30px;
}

img {
    max-width: 100%;
}

figure {
    padding-bottom: 20px;
    margin: 20px;
}

p {
  margin: 20px;
}

@media screen and (min-width:1000px){
  body {
    background-color: red;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
    width: 100%;
  }

 
}

@media screen and (min-width:1350px){
  body {
    background-color: green;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }

 
}